p {
    color: whitesmoke;
    margin-left: 10vw;
}
#top-songs {
    margin-left: 3vw;
    width: 95%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    height: 75vh;
    overflow-y: scroll;
}
#song-box {
  display: flex;
  margin-bottom:1vh;
  background: #212121
}
#track-image {
  align-items: center;
  width: 175px;
  height: 175px;
}
#song-name {
  width: 50vw;
  white-space: pre-wrap;
  margin-top: 1vh;
  font-size: 30px;
  font-weight: bold;
}
#artist-name {
  font-size: 23px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  @media(max-width: 450px) {
    #track-image {
      width: 75px;
      height: 75px;
    }
    #song-name {
      font-size: 20px;
    }
    #artist-name {
      font-size: 15px;
    }
  }