p {
    color: whitesmoke;
}
#top-songs {
    margin-left: 3vw;
    width: 95%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    height: 75vh;
    overflow-y: scroll;
}
#song-box {
  width: 100%;
  display: flex;
  margin-bottom:1vh;
  background: #212121
}
#song-info {
  margin-left: 3vw;
  margin-top: 4vh;
}
#track-image {
  align-items: center;
  width: 175px;
  height: 175px;
}
#song-name {
  width: 50vw;
  white-space: pre-wrap;
  font-size: 30px;
  font-weight: bold;
}
#artist-name {
  font-size: 23px;
  margin-bottom: 20px;
}
#song-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  font-size: 35px;
  background-color: #101010;
}

::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  @media(max-width: 450px) {
    #track-image {
      width: 100px;
      height: 100px;
    }
    #song-name {
      font-size: 20px;
    }
    #artist-name {
      font-size: 15px;
    }
    #song-info {
      margin-top: 0vh;
    }
    #song-index {
      font-size: 25px;
      width: 13vw;
    }

  }