#medium_term, #long_term, #short_term {
    color: #818589;
    text-align: center;
}
#short_term {
    margin-left: 32vw;
}
.navbar li {
    margin-right: 2vw;
    display: inline;
    cursor: pointer;
    font-size: 30px;
}
#mobile-range-selector {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    height: 8vh;
    background: #494779;
    border: 2px solid #494779;
}

@media(max-width: 450px) {
    #monitor-range-selector {
        display: none;
    }
    #mobile-range-selector {
        display: block;
    }
}