* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.home-text {

    font-size:7vmax;
    margin-top: 30vh;
    margin-bottom: 3vh;
}

.home-content {
    
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.overlay {
    
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}