.navbar {
    margin-top: 2vw;
    margin-left: 3vw;
    color: whitesmoke;
}
.navbar-links a {
    text-decoration: none;
    font-size: 30px;
}
#nav-element-tracks {
    margin-left: 4vh;
    margin-right: 0;
    color: #818589
}
#nav-element-title {
    display: inline;
}
#nav-element-artists {
    color: #818589;
    margin-right: 0;
}
#nav-element-genres {
    color: #818589;
    margin-right: 0;
}
#nav-element-logout {
    float: right;
    text-decoration: none;
    font-size: 30px;
    color: #818589;
    margin-right: 3vw;
    cursor: pointer;
}
.divider {
    font-size: 30px;
}
.toggle-button {
    position: absolute;
    margin-top: 15px;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.mobile-navbar {
    display: none;
}
#nav-selector {
    display: none;
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
    width: 34vw;
    height: 8vh;
    margin-left: 1vw;
    background: transparent;
    border: 0px solid #4c3c49;
    color: whitesmoke;
}
#nav-selector option {
    background-color: #3d3d3d;
    font-size: 20px;
}
/* Mobile navbar */
@media(max-width: 700px) {
    #nav-element-tracks, #nav-element-artists, #nav-element-genres, .divider {
        display: none;
    }
    #nav-element-title {
        margin-left: 3vw;
    }
    #nav-element-logout {
        margin-right: 10vw;
    }
    #nav-selector {
        display: inline-block;
    }
}