.navbar {
    margin-top: 2vw;
    margin-left: 3vw;
    color: whitesmoke;
}
.navbar-links a {
    text-decoration: none;
    font-size: 30px;
}
.nav-element-tracks {
    margin-left: 5.5vh;
}
.nav-element-artists {
    color: #818589
}
.nav-element-logout {
    float: right;
    text-decoration: none;
    font-size: 30px;
    color: #818589;
    margin-right: 3vw;
    cursor: pointer;
}
.divider {
    font-size: 30px;
}
.toggle-button {
    position: absolute;
    margin-top: 15px;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* Mobile navbar */
@media(max-width: 450px) {
    .nav-element-logout {
        display: none;
    }
}

